nav ul {
    text-align: center;
    list-style-type: none;
    width: 50%;
    padding: 50px;
    background-color: none;
    margin-left:300px;

    }
    nav li{
    display: inline;
    padding: 15px;
    background-color: rgba(238, 193, 156, 0.938);
    margin: 10px;
    }
    nav a {
    text-decoration: none;
    font-size: large;
    }

    h1{color: black;
        text-align: left;
        padding-bottom: 50px;
        }
        
    img{
    height:300px;
    width:300px ;
    padding-left: 20px;
    }